<% provide :button_text, t(".update") %>
<h3 class="text-center"><%= t ".header", name: @category.name %></h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
