@import 'color_variables';

body {
  font-family: arial;
  font-size: 14px;
  margin: 0px auto;
  padding: 0px;
  background: $background-gray;
}

.search {
  background-image: url('https://i.imgur.com/KeANeIB.jpg');
  background-size: 100% 450px;
  height: 450px;
}

#myRange {
  width: 90%;
  margin: 0px auto;
  margin-top: 10px;
}

.slidecontainerbtn button {
  padding: 8px 15px;
}

.container {
  padding-top: 50px;
  .page_width {
    width: 990px;
    height: 440px;
    margin: auto !important;
    position: relative;
    text-align: center;
  }
}

.desktop-container {
  background: url(https://i.imgur.com/NdPu8Bv.png) no-repeat center center;
  background-size: 750px 450px;
  height: 450px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 998;

  .carousel-inner img {
    height: 360px;
    left: 0;
    top: 0;
    position: relative;
  }
}

.carousel-slide-desktop {
  position: absolute !important;
  top: 25px;
  left: 220px;
}

.phone-container {
  background: url(https://i.imgur.com/XabAJJ1.png) no-repeat center center;
  background-size: 100px 200px;
  width: 125px;
  height: 200px;
  position: relative;
  top: -250px;
  left: 130px;
  z-index: 999;

  .carousel-inner img {
    height: 150px;
    left: 0;
    top: 0;
    position: relative;
  }
}

.carousel-slide-phone {
  position: absolute !important;
  width: 97px !important;
  height: 122px;
  top: 25px;
  left: 15px;
}

/* REMOVE THIS, USE YOUR OWN  */
.dummy_page {
  background-color: $white;
  box-sizing: border-box;
  height: 200px;
  padding: 60px 0px;
  width: 100%;
  text-align: center;
}

/* body header */
.section-heading {
  color: #535353;
  text-align: center;
  margin-bottom: 30px;
  max-width: 1170px
}

.input-group {
  width: 100%;
  padding: 0 10px;
  height: 200px;
  border-radius: 5px;
  background: #fff;
}

#search,
#received,
#pay {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
}

.form-text {
  margin-top: 15px;
  margin-bottom: 0px;
  padding-left: 20px;
  width: 100%
}

.cor-form {
  background: url(https://i.imgur.com/B4DtkeN.jpg) no-repeat top center;
  background-size: 1440px 450px;
  height: 450px;
  padding-top: 50px;
  margin-bottom: 50px;

  .page_width {
    width: 990px;
    height: 440px;
    margin: auto !important;
    position: relative;
  }
}

.desktop-container {
  background: url(https://i.imgur.com/NdPu8Bv.png) no-repeat center center;
  background-size: 750px 450px;
  height: 450px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 998;
  .carousel-inner img {
    width: 550px !important;
    height: 350px;
    left: 0;
    top: 0;
    position: relative;
  }
}

.carousel-slide-desktop {
  position: absolute !important;
  top: 25px;
  left: 220px;
}

.phone-container {
  background: url(https://i.imgur.com/XabAJJ1.png) no-repeat center center;
  background-size: 100px 200px;
  width: 125px;
  height: 200px;
  position: relative;
  top: -250px;
  left: 130px;
  z-index: 999;
}

.carousel-slide-phone {
  position: absolute !important;
  width: 90px !important;
  top: 25px;
  left: 20px;
}
.phone-container .carousel-inner img {
  height: 150px;
  left: 0;
  top: 0;
  position: relative;
}

/* STYLES SPECIFIC TO FOOTER  */
/* index hotel  */
.row-title {
  margin-bottom: 30px;
  border-bottom: 1px solid $white-D4;
}
.box-list-hotel {
  .media {
    background: $white;
    margin-bottom: 10px;
  }
  .btn-primary {
    padding: 5px 10px;
  }
}

.box-left {
  .title-box {
    font-size: 20px;
    margin-left: 20px;
    display: inline;
  }
  .box-map {
    margin-bottom: 30px;
  }
  .box-price {
    margin-top: 20px;
    background: $white;
    min-height: 220px;
    font-size: 14px;
    .form-check {
      display: block;
      margin-left: 20px;
    }

    /* range-input */
    .slidecontainer {
      width: 90%;
      margin: auto;
      margin-top: 10px;
      p {
        margin-top: 15px;
        padding: 0px
      }
      button {
        margin-top: 12px;
        padding: 2px 8px;
      }
    }
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 5px;
      background: $white-D3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      :hover {
        opacity: 1;
      }
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: $green;
      cursor: pointer;
    }
    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: $green;
      cursor: pointer;
    }
  }
  .box-type {
    margin-top: 20px;
    background: $white;
    font-size: 14px;
  }
  .box-tintuc {
    margin-top: 20px;
    background-color: $white;
    height: 470px;
    font-size: 11px;
    .media {
      padding: 5px 0;
    }
  }
}

/* footer */

.footer {
  background-color: $dark;
  height: 350px;
  width: 100%;
  position: relative;
  .col {
    box-sizing: border-box;
    float: left;
    height: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    width: 300px;
    h1 {
      color: rgb(247, 247, 247);
      font-family: inherit;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.250em;
      margin: 0;
      padding: 20px 0px 5px 0px;
      padding: 0;
      font-weight: normal;
      text-transform: uppercase;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        color: rgb(219, 214, 214);
        font-size: 14px;
        font-family: inherit;
        font-weight: bold;
        padding: 5px 0px 5px 0px;
        cursor: pointer;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
      }
      li:hover {
        color: $gray;
        transition: .1s;
        -webkit-transition: .1s;
        -moz-transition: .1s;
      }
    }
  }
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: $gray;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    margin: 0 auto;
    width: 1200px;
  }
}

@media only screen and (max-width: 1139px) {
  .contain .social {
    display: block;
    width: 1000px;
  }

  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }

  .footer .col h1 {
    font-size: 14px;
  }

  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }

  .footer .col h1 {
    font-size: 14px;
  }

  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

header {
  font-size: 14px;
  font-family: Arial;

  .navbar {
    padding: 0px;
    text-transform: uppercase;
  }
}

//slide
#myCarousel {
  margin-top: 5px;
}
.carousel-inner img {
  height: 440px;
  left: 0;
  max-width: 100% !important;
  top: 0;
  position: relative;
}
.title {
  background-color: $white;
  height: 50px;
  width: auto;
  box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.2);
  margin-top: 5px;
}

h1.col-md-9.titlepage {
  font-size: 28px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;

}

ol.col-md-3.breadcrumb {
  margin-top: 5px;
  background-color: $white;
  padding-right: 0px;
  li a {
    text-decoration: none;
    color: $dark;
  }
}

#contact-lienhe {
  margin-top: 50px;
  margin-bottom: 100px;
}

.col-md-9.form-contact h2 {
  font-size: 24px;
  margin-left: 12px;
}

.text {
  font-weight: normal;
  text-transform: uppercase;

  b {
    color: $red;
  }
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  .lienhe span {
    font-weight: bold;
  }
}

.lienhe {
  background-color: $orange;
}

.lienhe:hover {
  background: $orange;
}

.btn.lienhe span {
  font-weight: bold;
}

.col-md-3.contact-gioithieu ul li {
  line-height: 1.9em;
}

/*tin tuc*/
.content-news {
  margin-top: 50px;
  margin-bottom: 50px;
}

.post {
  padding-bottom: 50px;
  border-bottom: 2px solid $white;
  margin-bottom: 40px;
}

.post-title h2 {
  margin-top: 3px;
  a {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark;
    text-decoration: none;
  }
  a:hover {
    color: rgb(26, 188, 156);
  }
}

.post-title h2 a {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark;
  text-decoration: none;
}

.post-title h2 a:hover {
  color: rgb(26, 188, 156);
}

ul.post-date {
  margin-bottom: 40px;
  padding-left: 0;
  li {
    display: inline-block;
    color: $gray;
    font-style: italic;
    font-size: 12px;
    margin-right: 3px;

    a {
      text-decoration: none;
      font-style: italic;
      color: $orange-low;
    }
  }
}

ul.post-date li {
  display: inline-block;
  color: rgb(153, 153, 153);
  font-style: italic;
  font-size: 12px;
  margin-right: 3px;
}

ul.post-date li a {
  text-decoration: none;
  font-style: italic;
  color: $orange-low;
}

.post-content p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.more-link {
  color: $orange-low;
  font-style: italic;
  text-decoration: underline;
}

.news-category {
  border-bottom: 1px solid $white;
  margin-bottom: 50px;

  h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
  }
}

.news-category h4 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.news-category ul {
  margin-left: 15px;
  margin-top: 35px;
  margin-bottom: 45px;

  li a {
    color: $dark;
    text-decoration: none;
  }
}

.news-category ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.img-circle-custom {
  width: 48px;
  height: 48px;
}

.news-new h4 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}

.entry-image {
  float: left;
  margin-right: 10px;
}

.entry-title h4 a {
  color: $dark;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  line-height: 1.6em;
}

ul.entry-meta li {
  list-style-type: none;
  font-style: italic;
  font-size: 12px;
  margin-left: 60px;
  color: $gray;
}

.list-news {
  border-bottom: 1px dashed $white;
}

.entry-content.notopmargin {
  border-bottom: 2px solid $white;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.post-title-lq h2 a {
  color: $orange-low;
  font-size: 20px;
  line-height: 1em;
  text-decoration: none;
}

.col-md-6.news-lienquan {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed $white;
}

.content-news {
  margin: auto;
}

.post-image {
  margin: 10px 0 10px
}

.help .col ul li {
  display: inline-block;
  text-decoration-line: underline;
  margin: 10px 0 5px;
}
.help .col h4{
  margin: 30px 0 30px;
}
