@import 'color_variables';
body{
  font-family: arial;
  font-size: 14px;
  margin: 0px auto;
  padding: 0px;
  background: $background-gray;
}
.search{
  background-image: url('https://i.imgur.com/KeANeIB.jpg') ;
  width: 100%;
  height: 270px;
}
.container{
  padding-top: 50px;
}
/* REMOVE THIS, USE YOUR OWN  */
.dummy_page {
  background-color: $white;
  box-sizing: border-box;
  height: 200px;
  padding: 60px 0px;
  width: 100%;
  text-align: center;
}
  /* STYLES SPECIFIC TO FOOTER  */
.footer {
  background-color: $dark;
  height: 350px;
  width: 100%;
  position: relative;	
}

.footer .col {
  box-sizing: border-box;
  float: left;
  height: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  width: 300px;
}

.footer .col h1 {
  color: rgba(255,255,255,0.2);
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.250em;
  margin: 0;
  padding: 20px 0px 5px 0px;
  padding: 0;
  font-weight: normal;
  text-transform: uppercase;
}
	
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: rgb(219, 214, 214);
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}
	
.footer .col ul li:hover {
  color: $gray;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    margin: 0 auto;
    width: 1200px;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    display: block;
    width: 1000px;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
  width: 100%;
  }
}
  
header{
  font-size: 14px;
  font-family: Arial;
  .navbar{
    padding: 0px;
    text-transform: uppercase;
  }
}

//slide
#myCarousel{
  margin-top: 5px;
}

.carousel-inner img {
  height: 440px;
  left: 0;
  max-width: 100% !important;
  top: 0;
  position: relative;
}
